/* Contact.module.css */

.container {
  padding: 60px 0;
  text-align: center;
}

.text h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: white;
}

.text p {
  font-size: 22px;
  margin-bottom: 40px;
  color: white;
}

.links {
  display: flex;
  justify-content: center;
  gap: 20px;
 
}

.link {
  display: flex;
  align-items: center;
}

.link img {
  width: 30px;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

.link a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  
}

.link img:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(72, 73, 30, 0.496);
}

.link a:hover {
  color: #007bff; /* Change to your preferred hover color */
  box-shadow: 0 10px 20px rgba(72, 73, 30, 0.496);
}
